* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
* a {
  text-decoration: none;
  color: #000000;
}
* li {
  display: inline-block;
  font-size: 30px;
  margin-right: 20px;
}

.logo {
  width: 80px;
  height: 80px;
}

.carrito img {
  width: 40px;
  height: 40px;
}

#login {
  border: solid 2px #000000;
}

footer {
  display: flex;
  justify-content: center;
  height: 10vh;
  margin-top: 10px;
}
footer i {
  margin-left: 20px;
  font-size: 40px;
  margin-top: 15px;
}
footer .fa-brands {
  color: #554114;
  margin: 20px;
}

.mainGrid {
  margin-left: 5%;
  height: 80vh;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen4 imagen3";
}

.imagen1 {
  grid-area: imagen1;
}

.imagen2 {
  grid-area: imagen2;
}

.imagen3 {
  grid-area: imagen3;
}

.imagen4 {
  grid-area: imagen4;
}

.img {
  background-size: cover;
}

.imagen1 {
  background-image: url(../images/difusor.JPG);
}

.imagen2 {
  background-image: url(../images/vaso.JPG);
}

.imagen3 {
  background-image: url(../images/larga.jpg);
}

.imagen4 {
  background-image: url(../images/pano.jpg);
}

.tienda {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.tienda img {
  max-width: 280px;
  max-height: 280px;
}
.tienda .cards {
  margin-left: 50px;
  border-radius: 10%;
  text-align: center;
  transition: all 0.3s;
}
.tienda .cards:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.tienda .cards button {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 280px;
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #000;
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
  background-color: #000;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.compra {
  justify-content: center;
  display: flex;
}

#comprar {
  border-radius: 10px;
  font-size: x-large;
  background-color: rgb(0, 0, 0);
  color: #fff;
  margin: 5px;
  padding: 3px;
}

.hidden-cart {
  display: none;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

/* FORMULARIO =================================== */
.form_wrap {
  width: 75vw;
  height: auto;
  margin: auto;
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#h1Envio {
  text-align: center;
}

.form_contact {
  margin: auto;
}

/* Informacion de Contacto*/
.cantact_info {
  width: 38%;
  position: relative;
  background: rgb(135, 99, 67);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_title {
  margin-bottom: 60px;
  background: rgb(135, 99, 67);
}

.info_title span {
  font-size: 100px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  background: rgb(135, 99, 67);
}

.info_title h2 {
  font-size: 35px;
  text-align: center;
  background: rgb(135, 99, 67);
}

.info_items {
  background: rgb(135, 99, 67);
}

.info_items p {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  background: rgb(135, 99, 67);
}

.info_items p:nth-child(1) span {
  font-size: 30px;
  margin-right: 10px;
  background: rgb(135, 99, 67);
}

.info_items p:nth-child(2) span {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 4px;
  background: rgb(135, 99, 67);
}

/* Formulario de contacto*/
form.form_contact {
  width: 62%;
  padding: 30px 40px;
}

form.form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info {
  display: flex;
  flex-direction: column;
}

form.form_contact label {
  font-weight: 600;
}

form.form_contact input,
form.form_contact textarea {
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #D1D1D1;
  font-family: "Open sans";
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form_contact #check {
  height: 20px;
  width: 20px;
  display: flex;
}

#labelCheck {
  display: flex;
  justify-content: space-between;
}

#message {
  color: rgb(180, 0, 0);
}

form.form_contact input[type=button] {
  width: 180px;
  background: rgb(135, 99, 67);
  padding: 10px;
  border: none;
  border-radius: 25px;
  align-self: flex-end;
  color: #fff;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type=button]:hover {
  background: #554114;
}

@media (max-width: 1024px) {
  main {
    align-items: center;
  }
  .nav li a {
    font-size: 20px;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav li a:hover {
    font-size: 24px;
  }
  .mainGrid {
    grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: fit-content;
  }
  .img {
    height: 300px;
  }
  .tienda {
    grid-template-columns: repeat(2, 1fr);
  }
  .df-nav {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
  }
  .form-register {
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .nav {
    max-width: 45vh;
  }
  .nav li a {
    font-size: 15px;
    margin: 2px;
  }
  .nav li a:hover {
    font-size: 18px;
  }
  .tienda {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
