footer {
    display: flex;
    justify-content: center;
    height: 10vh;
    margin-top: 10px;

    i {
        margin-left: 20px;
        font-size: 40px;
        margin-top: 15px;
    }

    .fa-brands {
        color: #554114;
        margin: 20px;
    }
}

