.mainGrid {
    margin-left: 5%;
    height: 80vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas:
        "imagen1 imagen2 imagen3"
        "imagen4 imagen4 imagen3";
}

.imagen1 {
    grid-area: imagen1;
}

.imagen2 {
    grid-area: imagen2;
}

.imagen3 {
    grid-area: imagen3;
}

.imagen4 {
    grid-area: imagen4;
}

.img {
    background-size: cover;
}

.imagen1 {
    background-image: url(../images/vela.JPG);
}

.imagen2 {
    background-image: url(../images/perfuminas.JPG);
}

.imagen3 {
    background-image: url(../images/difusor.JPG);
}

.imagen4 {
    background-image: url(../images/velaabajo.JPG);
}