.tienda {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    img {
        max-width: 280px;
        max-height: 280px;
    }

    .cards {
        margin-left: 50px;
        border-radius: 10%;
        text-align: center;
        transition: all 0.3s;
    }

    .cards:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

}